apache-airflow
airflow-dbt
apache-airflow-providers-airbyte==2.1.1
apache-airflow-providers-amazon==2.6.0
apache-airflow-providers-databricks==2.2.0
apache-airflow-providers-facebook==2.2.0
apache-airflow-providers-ftp==2.0.1
apache-airflow-providers-google==6.3.0
apache-airflow-providers-http==2.0.2
apache-airflow-providers-imap==2.1.0
apache-airflow-providers-jdbc==2.0.1
apache-airflow-providers-microsoft-azure==3.5.0
apache-airflow-providers-microsoft-mssql==2.0.1
apache-airflow-providers-mongo==2.2.0
apache-airflow-providers-mysql==2.1.1
apache-airflow-providers-odbc==2.0.1
apache-airflow-providers-oracle==2.1.0
apache-airflow-providers-postgres==2.4.0
apache-airflow-providers-salesforce==3.4.0
apache-airflow-providers-segment==2.0.1
apache-airflow-providers-sftp==2.3.0
apache-airflow-providers-sqlite==2.0.1
apache-airflow-providers-postgres==2.4.0
apache-airflow-providers-slack==4.1.0
airflow-dbt==0.4.0
numpy
pandas
dbt-core
dbt-postgres
psycopg2-binary
pyodbc
requests